.post {
}
.card {
    margin-top: 20px;
    border-radius: 20px;
    width: 250px;
    overflow: hidden;
    cursor: pointer;
}
.card:hover,
.card:focus,
.card:active {
    box-shadow: 0px 0px 5px black;
}
.card_body {
    height: 60px;
}
.card_content {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_img {
    overflow: hidden;
    width: 100%;
}
.card_img > img {
    transition: all 0.3s ease-in-out;
}
.card_img > img:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/*---------------post of user--*/
.card_post {
    padding: 0px 20px;
}
.card_post_user {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 8%);
}
.user_post_content {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_title span {
    margin-right: 10px;
    cursor: pointer;
}
.card_title_time {
    font-size: 12px;
    color: #cccccc;
}
.card_content_box {
    display: flex;
}

.card_photo > img {
    width: 142px;
    height: 142px;
    margin-left: 40px;
    border-radius: 10px;
}
