.post {
}
.card {
    margin-top: 20px;
    border-radius: 20px;
    width: 250px;
    overflow: hidden;
}
.card:hover,
.card:focus,
.card:active {
    box-shadow: 5px 5px 10px black;
}
.card_body {
    height: 60px;
}
.card_content {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}
