.chat_list {
    max-height: 500px;
    width: 350px;
    background-color: white;
    margin: -12px -16px;
}

.chat_list_component {
    height: 288px;
    overflow: scroll;
    overflow-x: hidden;
}

.chat_list Button {
    width: 100%;
}

.chat_list_form {
    display: flex;
    justify-content: center;
    height: 64px;
    padding-top: 12px;
    padding-bottom: 20px;
    background-color: #F4F4F4;
}

.chat_list_form Input {
    border-radius: 5px;
}

.chat_list_form Button {
    border-radius: 5px;
    margin-left: 2px;
    background-color: #7554A0;
    border: none;
}

.chat_list_form Button:hover {
    opacity: 0.66;
    background-color: #7554A0;

}
