.appbar {
    width: 100%;
    background-color: white;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.appbar_title {
    background-color: #8ca4d4;
    height: 50px;
    width: 500px;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appbar_logo {
    font-family: "Courier New", Courier, monospace;
    margin: 0px 20px;
    color: #d99936;
    font-size: 30px;
    font-weight: bold;
    height: 100%;
    padding: 0px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.appbar_title strong {
    color: #e7e8fa;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
}
.user_item {
    height: 100%;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.user_item h3 {
    margin: 0px 8px;
}
.user_item Button {
    margin: 0px 15px;
    height: 50px;
    width: 100px;
}
