.comments {
    height: 600px;
    border-bottom: 1px solid #f0f3f6;
}

.comments_header {
    height: 60px;
    padding: 8px 0px;
    color: #7c7c7c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f3f6;
}
.comment-action {
    padding-left: 8px;
    cursor: pointer;
}
.comments_box{
    border: 1px solid black;
    height: 500px;
    max-height: 400px;
    overflow: auto;

}
.comment_form{
    margin-top:10px ;


}
.comment_form TextArea{
    border-radius: 20px;
    height: 50px;
    max-height: 100px;
}