html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
