.container {
  min-height: 100vh;
  padding: 0 0;
  display: flex;
  flex-direction: column;
  background-color: #f4f5f9;
}

.main {
  width: 100%;
  padding: 0px 20px;
}
.control_box {
  margin-top: 20px;
  padding: 0px 20px;
}
.add_icon {
    position: fixed;
    top: 80vh;
    right: 10vw;
    cursor: pointer;
}

